.gaming_block{
    color: black;
    width: 40vw;
    height: 40vw;
    border-style: solid;
    border-width: medium;
    border-color: black;
    border-radius: 1vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 20vw;
    /* margin-right: 15vw; */
    font-size: 2vw;
    float: left;
}

.function_block{
    color: black;
    width: 20vw;
    height: 40vw;
    border-style: solid;
    border-width: medium;
    border-color: black;
    border-radius: 1vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    /* margin-left: 25vw; */
    margin-right: 15vw;
    font-size: 2vw;
    float: right;
}

p{
    text-align: center;
}

.leave_button{
    color: black;
    width: 18vw;
    border-style: solid;
    border-width: medium;
    border-color: black;
    border-radius: 1vw;
    margin-top: 5vh;
    margin-left: 1vw;
    text-align: center;
}

.leave_button:hover{
    background-color: red;
    color: white;
}

.talk_block{
    margin-top: 2vh;
    height: 35vh;
    width: 19vw;
    overflow-y: scroll;
    

}

.text_record{
    font-size: 1.5vw;
    text-align: left;
    margin-left: 2vw;
    margin-top: 0;
    margin-bottom: 0;
}

#input_box{
    height: 3vh;
    width: 14vw;
    margin-left: 1vw;
}

.col{
    height: 30px;
    width: 30px;
    border-style: solid;
    border-width: medium;
    border-color: black;
}

.ready_button{
    display: block;
    border: solid 1px black;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    height: 8%;
    margin-top: 45%;
    border-radius: 1vw;
}

.ready_button:hover{
    color: white;
    background-color: black;
}



